address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul.social-media li {
    display: inline-block;
}