address {
    font-style: normal;
}

header {
    background: linear-gradient(180deg, rgba(39,38,38,.5) 0%, rgba(39,38,38,0.5) 100%), url("../images/contact-hero.png");
    /* background-attachment: fixed; */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feedback h2, .feedback p, .stay-connected {
    text-align: center;
}

.feedback form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.feedback button {
    border-radius: 8px;
}

.feedback p:last-child {
    font-size: 20px;
    margin-top: 30px;
}

.header-container, .header-container a {
    color: var(--white);
}

.header-container a:hover {
    color: var(--accent);
    transition: all 150ms linear 0s;   
}

.hero-container {
    background-color: transparent;
}

.icon {
    margin-right: 3px;
    width: 1em;
}

.main-container {
    width: 50%;
}

.main-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.social-media li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-media li:not(:last-child):after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}