/*** Website Wide ***/
:root {
    --white: #FFFDFA;
    --gray: #272626;
    --primary: #34349C;
    --secondary: #DF9430;
    --accent: #DFCF30;

    --mainfont: "Montserrat", sans-serif;
    --secondfont: "Oswald", sans-serif;
}

* {
    scroll-behavior: smooth;
}

html {
    color: var(--gray);
    background-color: var(--white);
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: var(--mainfont);
    line-height: 1.75em;
}

/*** Elements ***/
a {
    color: var(--secondary);
    font-weight: 500;
    text-decoration: 1px underline dotted;
    text-underline-offset: 5px;
}

a:hover {
    color: var(--primary);
    transition: all 150ms linear 0s;    
}

form {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10% repeat(3, 1fr);
}

form label {
    grid-column: 1;
    margin-right: 15px;
    text-align: right;
}

form input[type="text"], form input[type="tel"], form input[type="email"], form input[type="number"], form textarea {
    font-size: 16px;
    grid-column: 2 / span 3;
    padding: 5px;
}

form button {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
}

form button:hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 150ms linear 150ms;
}

form button[type="submit"] {
    grid-column: 3;
}

footer {
    background-color: var(--gray);
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondfont);
    color: var(--primary);
    margin-top: .75em;
    margin-bottom: .75em;
}

/* 1.125 ratio / Major Second  */
h1 {
    font-size: 2.281em;
}

h2 {
    font-size: 2.027em;
}

h3 {
    font-size: 1.802em;
}

h4 {
    font-size: 1.602em;
}

h5 {
    font-size: 1.424em;
}

h6 {
    font-size: 1.266em;
}

nav ul {
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: var(--gray);
    color: var(--white);
    font-weight: 500;
    border: 1px solid var(--gray);
    padding: 5px 15px;
}

table th:not(:last-child) {
    border-right-color: var(--white);
}

table td {
    border: 1px solid var(--gray);
    padding: 5px 15px;
}

/*** ID ***/
#nav-footer a:hover {
    color: var(--white);
}

#nav-footer li:not(:last-child):after {
    content: "|";
    margin-left: 6px;
    margin-right: 3px;    
}

#nav-header {
    font-size: 18px;
    letter-spacing: 1px;
    place-self: center;
}

#nav-footer, #nav-header, #nav-footer ul, #nav-header ul {
    margin: 0;
    padding: 0;
}

#nav-header li:not(:last-child):after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}

/*** Classes ***/
.button {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 150ms linear 0s;    
}

.footer-container {
    color: var(--white);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    height: 100px;
    place-content: center space-around;
    width: 95%;
}

.footer-container .footer-left {
    place-self: center left;
}

.footer-container .footer-left .social-media {
    width: 30px;
}

.footer-container .footer-left .social-media:first-child {
    margin-right: 10px;
}

.footer-container .footer-mid p {
    margin: 0;
    text-align: center;
}

.footer-container .footer-right {
    place-self: center right;
}

.header-container {    
    display: grid;
    grid-auto-flow: column;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 30px;
    place-content: center space-between;
    width: 80%;
}

.header-container img {
    height: 75px;
}

.hero-container {
    background-color: var(--gray);
    color: var(--white);
    display: grid;
    grid-auto-flow: row;
    height: 400px;
    place-content: center center;
    text-align: center;
}

.hero-container div {
    width: 80%;
    justify-self: center;
}

.hero-container .page-title {
    color: var(--white);
    line-height: 1.5em;
    margin: 0;
}

.icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(0%) hue-rotate(176deg) brightness(110%) contrast(70%);
}

.main-container {
    margin: 60px auto;
    width: 80vw;
}

.subheading {
    font-size: 24px;
    line-height: 1.6em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}