header {
    background: linear-gradient(180deg, rgba(39,38,38,.45) 0%, rgba(39,38,38,0.45) 100%), url("../images/partners-hero.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.apps-list, .partners-list, .partners-list li > ul li {
    list-style-type: none;
}

.apps-list {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.apps-list li {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: grid;
    justify-content: space-between;
    padding: 20px;
}

.apps-list p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.apps-list img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.apps-list .button {
    align-self: end;
    border-radius: 8px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 10px 15px;
}

.header-container, .header-container a {
    color: var(--white);
}

.header-container a:hover {
    color: var(--accent);
    transition: all 150ms linear 150ms;   
}

.hero-container {
    background-color: transparent;
}

.partners-list {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.partners-list li:not(li>ul li) {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
}

.partners-list h3 {
    margin: 0;
    text-align: center;
}

.partners-list .icon {
    margin-right: 3px;
    width: 1em;
}

.partners-list p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.partners-list li ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.partners-list li li {
    display: inline;
    margin: 0;
    padding: 0;
}

.partners-list li li:first-child {
}

.partners-list li li:first-child::after {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}